.btn {
  border-radius: 20px;
  margin-top: 30px;
  display: inline-block;
  background: white;
  border: 1px solid #474747;
  padding: 10px 8px;
  color: #474747;
  text-decoration: none;
  margin-left: 17.4%;
  width: 8%;
  cursor: pointer;
  font-size: 9.5px;
}

@media only screen and (max-width: 850px) {
  .btn {
    width: 10%;
  }
}


@media only screen and (max-width: 650px) {
  .btn {
    margin-top: 15px;
    margin-left: 3%;
    width: 30%;
    font-size: 8px;
    margin-bottom: 30px;
  }
}
