.card-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 17.4%;
  margin-right: 17.4%;
  margin-top: 5vh;
}

.card-wrapper>h2 {
  font-size: 18px;
  font-weight: 600;
}

.card-container {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin-top: 8px;
}

.card {
  width: 32%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 38%;
  object-fit: cover;
}

.card-content {
  padding: 15px 20px;
  position: relative;
  flex: 1;
}

.card-content>p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.card-container .card1 .card-content>p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-content>a {
  position: absolute;
  bottom: 25px;
}

@media only screen and (max-width: 650px) {
  .card-wrapper {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3vh;
  }
  .card-wrapper>h2 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .card-container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .card {
    width: 100%;
    margin-bottom: 2vh;
    height: 44vh;
  }
  img {
    height: 58%;
  }
  .card-content {
    padding: 10px 15px;
  }
  .card-content>a {
    bottom: 8%;
  }
}
